* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #464646;
    position: relative;
    top: 0;
    justify-content: space-between;
    display: flex;
}

#mi-menu {
    list-style-type: none;
    display: flex;
    justify-content: right;
}


#menu-palabra {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

#menu-palabra:hover {
    color: #bbb;
}

#menu-hamburguesa {
    display: none;
}

#logo {
    margin: 5px 10px;
}


@media (max-width: 520px) {


    
    #mi-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    #menu-hamburguesa {
        all:unset;
        display: flex;
        justify-content: flex-end;
        margin: 10px 15px;
        background-color: #464646;
        
    }

    #menu-hamburguesa img:hover {
        width: 30px;
        margin: 0px;
    }

    #menu-hamburguesa:hover {
        margin: 5px 10px;
    }


    #logo {
        margin-left: auto;
        display: flex;
        
        justify-content: flex-start;
        text-align: left;
        
    }

    #mi-menu.active {
        display: flex;
        flex-direction: column;
    
    }

}
